.max-w-24{
    max-width: 6rem; /* 96px */
}
.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
.banner-logo{
display: flex;
justify-content: space-between;
align-items:center;
padding:0.8em;
border-bottom:3px black solid;
}